.animation-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    
    
}


.container {
    border: 1px solid blue;
    border-radius: 5px;
    margin: 10px auto;
    width: fit-content;
}

.field {
    /* fixed */
    border: 1px solid white;
    border-radius: 5px;
    background-image: url('/public/img/pictures/background2.jpg');
    background-size: cover;
    margin: 20px;
    position: relative;
    /* variable */
    height: 1000px;
    width: 1000px;
}

.control {
    /* border: 1px solid blue; */
    margin: 10px;

}

.ball {
    /* fixed */
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    /* left: calc((300px - 50px - 2px)/2); */
    /* top: calc((200px - 50px - 2px)/2); */
    /* variable */
    height: 50px;
    width: 50px;
}

.none {
    background-color: transparent; /* No background */
}

.basketball {
    background-image: url('/public/img/balls/basketball.png');
    background-size: cover;
}

.football {
    background-image: url('/public/img/balls/football.png');
    background-size: cover;
}

.volleyball {
    background-image: url('/public/img/balls/volleyball.png');
    background-size: cover;
}

.human {
    background-image: url('/public/img/balls/human.webp');
    background-size: cover;
}

.cartoon {
    background-image: url('/public/img/balls/Keroro.webp');
    background-size: cover;
}

.logo {
    background-image: url('/public/img/balls/logo.png');
    background-size: cover;
}

