body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e6e6e6;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 32px;
    text-align: right;
    background-color: #f9f9f9;
    min-height: 50px;
    box-sizing: border-box;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  
  button {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  .operator, .special {
    background-color: #e0e0e0;
  }
  
  .special {
    background-color: #d0d0d0;
  }
  
  .special:hover {
    background-color: #c0c0c0;
  }
  
  .operator.clicked {
    background-color: #b5a441;
  }
  
  button.CE {
    background-color: #dcdcdc;
  }
  
  button.CE:hover {
    background-color: #c9c9c9;
  }
  